.headerCont{
 border: 2px solid black;
 display: flex;
 justify-content:space-between;
}
.headerCont>ul{
    display: flex;
    list-style-type: none;
}
.headerCont>ul>li{
   padding-right:20px;
   font-size: 200%
}
.searchCont{
    margin: 2%
}
.searchCont>input{
    padding: 1% 3%;
    background-color: #eddcd2;
}
.searchCont>button{
    padding: 1% 3%;
    margin-left: 2%;
    background-color: #e8d1c5;
}
.restCont{
   display: flex;
   flex-wrap: wrap;
}
.restCards{
  margin: 1%;
  width: 20%;
  background-color: #f0f0f0
}
.restCards:hover{
    border: 2px solid black;
    cursor: grab;
}